Repository rogsme/subscleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_to_pypi, deploy_to_dockerhub

deploy_to_pypi:
  stage: deploy
  script:
  - POETRY_PYPI_TOKEN_PYPI=$PYPI_PASSWORD poetry publish --build

deploy_to_dockerhub:
  stage: deploy
  needs:
  - deploy_to_pypi
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker buildx create --use
  script:
  - docker buildx build --push --tag rogsme/subscleaner:latest .

Added docker badge
  README.md
Due: none

Added missing ad Gitlab issue template
  .gitlab/issue_templates/missing_ad.md
Due: none

Only deploying not on tags
  .gitlab-ci.yml
Due: none

add some common ads I found
  src/subscleaner/subscleaner.py
Due: none

Added more ads to the adlist
  src/subscleaner/subscleaner.py
Due: none

Bumped minor version
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Added RARBG
  src/subscleaner/subscleaner.py
Due: none

Bumped version
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Added SerieCanal, Nest0r, ikerslot and menoyos to the list
  src/subscleaner/subscleaner.py
Due: none

Fixed tests
  src/subscleaner/subscleaner.py
Due: none

Added YTS.MX
  src/subscleaner/subscleaner.py
  tests/test_subscleaner.py
Due: none

Bumped patch version
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Update package versions and dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Refactor cron job setup and add SuperCronic for scheduling
  Dockerfile
Due: deploy_to_dockerhub

Update Docker deployment to include GitLab registry deployment
  .gitlab-ci.yml
Due: none

Update project version to 1.1.5 in pyproject.toml
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Update Docker run command and docker-compose file to add /etc/localtime as a read-only volume
  README.md
Due: none

Update .gitlab-ci.yml to deploy changes in pyproject.toml and Dockerfile
  .gitlab-ci.yml
Due: none

Refactor Dockerfile to optimize SUPERCRONIC installation
  Dockerfile
Due: deploy_to_dockerhub

Update .gitlab-ci.yml deploy_to_dockerhub and deploy_to_gitlab job configurations to be optional
  .gitlab-ci.yml
Due: none

Triggering CI
  Dockerfile
Due: deploy_to_dockerhub

Add support for special characters in filenames
  src/subscleaner/subscleaner.py
  tests/test_subscleaner.py
Due: none

Update version to 1.2.0 in pyproject.toml
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Fixed linter issues
  src/subscleaner/subscleaner.py
  tests/test_subscleaner.py
Due: none

Moved from poetry to uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: deploy_to_pypi, deploy_to_dockerhub

Add .aider and coverage files to .gitignore
  .gitignore
Due: none

Migrate CI to use uv
  .gitlab-ci.yml
Due: none

Bump project version to 1.3.0
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Add appdirs dependency
  pyproject.toml
  uv.lock
Due: deploy_to_pypi, deploy_to_dockerhub

Added database cache functionality
  src/subscleaner/__init__.py
  src/subscleaner/subscleaner.py
Due: none

Updated README
  README.md
Due: none

Add version, reset-db, and list-patterns arguments
  src/subscleaner/subscleaner.py
Due: none

Fixed tests to support database
  tests/test_subscleaner.py
Due: none

Add database persistence and custom location option
  Dockerfile
  README.md
  src/subscleaner/subscleaner.py
Due: deploy_to_dockerhub

Bump project version to 2.0.0
  pyproject.toml
Due: deploy_to_pypi, deploy_to_dockerhub

Update database location documentation
  README.md
Due: none

Fix: Remove timestamp-based processing check
  src/subscleaner/subscleaner.py
  tests/test_subscleaner.py
Due: none

Bump subscleaner version to 2.0.0
  uv.lock
Due: none

Path conditions:
  deploy_to_pypi: any of: pyproject.toml
  deploy_to_dockerhub: any of: pyproject.toml, Dockerfile
